<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>controller</key>
		<string>CaseViewController</string>
		<key>imageName</key>
		<string>ico_tabbar_case</string>
		<key>selectedImageName</key>
		<string>ico_tabbar_case_on</string>
		<key>title</key>
		<string>案例</string>
	</dict>
	<dict>
		<key>controller</key>
		<string>PicStorageViewController</string>
		<key>imageName</key>
		<string>ico_tabbar_pic</string>
		<key>selectedImageName</key>
		<string>ico_tabbar_pic_on</string>
		<key>title</key>
		<string>图库</string>
	</dict>
	<dict>
		<key>controller</key>
		<string>QueAndAnsViewController</string>
		<key>imageName</key>
		<string>ico_tabbar_qa</string>
		<key>selectedImageName</key>
		<string>ico_tabbar_qa_on</string>
		<key>title</key>
		<string>问答</string>
	</dict>
	<dict>
		<key>controller</key>
		<string>DiscoverViewController</string>
		<key>imageName</key>
		<string>ico_tabbar_find</string>
		<key>selectedImageName</key>
		<string>ico_tabbar_find_on</string>
		<key>title</key>
		<string>发现</string>
	</dict>
	<dict>
		<key>controller</key>
		<string>MineViewController</string>
		<key>imageName</key>
		<string>ico_tabbar_my</string>
		<key>selectedImageName</key>
		<string>ico_tabbar_my_on</string>
		<key>title</key>
		<string>我的</string>
	</dict>
</array>
</plist>
